<section>
    <h2>Products </h2>
    <div class='itemTable'>
        <table class='table' id='productTable'>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Category</th>
                <th scope="col">Subcategory</th>
                <th scope="col">Name</th>
                <th scope="col">Thumbnail</th>
                <th scope="col">Price</th>   
                <th scope="col">Stock</th> 
            </tr>
        </table>
    </div>
</section>